<!DOCTYPE html>
<html>
<%- include('../../layout/head') %> 
<body>
    <%- include('../../layout/header') %> 
    <div class="banner">book details</div>
    <section class="container">
        <%- include('../partials/detail', {book:book}) %> 
    </section> 
    <%- include('../../layout/footer') %>
</body>
</html>
