<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head') %>

<body>
    <%- include('../../layout/header') %>
    <div class="banner">Search Results</div>

    <div class="books">
        <% arrayOfBooks.forEach(book => { %>
          <%- include('../partials/plain', {book:book}) %>
        <% }); %>
    </div>

    <%- include('../../layout/footer') %>
</body>

</html>
