<!DOCTYPE html>
<html>
    <head>
        <title> Book App </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/base.css">
    </head>
    <body>
        <%- include('./books/show', { books : books }) %>
    </body>
</html>