<!DOCTYPE html>
<html>

<head>
    <title> book app </title>
</head>

<body>
    <h1> search for books </h1>

    <form action="/searches" method="post">
        
        <fieldset>
            <input type="text" name="search" placeholder="search...">
        </fieldset>

        <fieldset>
            <input type="radio" name="title" value = "title" placeholder="search...">
        </fieldset>

        <fieldset>
            <input type="radio" name="author" value ="author" placeholder="search...">
        </fieldset>

    </form>

</body>

</html>