@import url(./reset.css);
@import url(./modules.css);

.container{
    background: rgb(65, 65, 65);
    color: white;
    width: 100vw;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}