<header>
    <h1>Decent Books</h1>
    <nav>
        <i class="fas fa fa-bars">
            <div class="dropdown-content">
                <a href="/searches/new">search</a>
                <a href="/">library</a>
            </div>
        </i>
    </nav>
</header>